version: "3"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.ml
    image: bankruptcy-ml
    container_name: bankruptcy-ml
    ports:
      - "8000:8000"
    volumes:
      - ./src:/src
    command: >
      sh -c "jupyter-notebook --ip 0.0.0.0 --port 8000"
